<!-- Business Overview Section -->
    <%# <%= render(MessageComponent.new(name: "Hello Component")) %>
    <div class="grid grid-cols-3 gap-6 mb-8">
      <div class="bg-white p-6 rounded-lg shadow">
        <h3 class="text-gray-700 font-bold">Revenue</h3>
        <p class="text-2xl font-semibold"> <%= @total_revenues %> $</p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow">
        <h3 class="text-gray-700 font-bold">Salesss</h3>
        <p class="text-2xl font-semibold"><%= @total_orders  %></p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow">
        <h3 class="text-gray-700 font-bold">Customer</h3>
        <p class="text-2xl font-semibold"> <%= @total_users %> </p>
      </div>
    </div>
    
